# dependencies
node_modules/
venv/

# build outputs
dist/
build/
*.pyc

# logs and temp files
*.log
*.tmp

# system files
.DS_Store
Thumbs.db

# editor files
.idea/
.vscode/

# environment/credentials
.env
*.secret
